/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* Variables */

:root{

    /* Paleta */
    
        --color1:#FDCAE1;
        --color2:#84B6F4;
        --color3:#BC98F3;
        --color4:#f74fd0;
    
     /* Font sizes */
    
        --txt-xxl:48em;
        --txt-xl:3.6em;
        --txt-lg:3.2em;
        --txt-md:2em;
        --txt-sm:1..6em;
    
    /* Spacings */
    
        --sp-xxl: 12rem;
        --sp-xl: 8rem;
        --sp-lg: 5rem;
        --sp-md: 3.2rem;
        --sp-sm: 1.6rem;
        --sp-xs: 0.8rem;
    }

/* Normalize */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
}
body {

    font-family: 'Poppins', sans-serif;
    width: 100%;
}
body{
    animation: changebg 5s infinite alternate linear;
}

@keyframes changebg{
    0%{
        background: #84B6F4;
    }
    25%{
        background: #BC98F3;
    }
    50%{
        background: #FDCAE1;
    }
    75%{
        background: #FDCAE1;
    }
    100%{
        background: #84B6F4;
    }
}
div.bn__video{
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    background: black;
    color: white;
    font-size: 220px;
    text-align: center;
    font-weight: 400;
    mix-blend-mode: multiply;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center
}
a:hover {
    color: #FF0000;
}
a:visited {
    color: none;
}
a:link {
    color: none ;
}

/* Header/Navar*/

header{
    position: fixed;
    background-color: rgba(247, 79, 208, 0.3);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    width: 100%;
    font-size:2.5em;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sp-xs);
}
.navbar .logo__header{
    height:84px;
}
.navbar .menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


/* Main pagina 1*/

main.welcome{
    background-image:url(../images/homepageback.jpg);
    background-position:0rem 9.099rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__txtcontainer .welcome__frase h1{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    -webkit-text-stroke: 2.5px black;
    border-radius: 50px;
    width: 70rem;
    height: 20rem;
    font-size: 36px;
    text-align: center;
    color: white;
    
}

/* Main pagina 2 */


/* Footer */

footer {
    background-color: rgba(247, 79, 208, 0.3);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    width: 100%;
    font-size:2.5em;
}
section.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .foot__social{
    display: flex;
    align-items: center;
}
.foot__cpy p{
    font-size: var(--sp-sm);
}

